.idea
logs
mysql
www/codeigniter/vendor
www/laravel/vendor
www/lumen/vendor
www/slim/vendor
www/wordpress/wp-admin
www/wordpress/wp-content/themes
www/wordpress/wp-includes
www/wordpress/wp-*.php
www/wordpress/license.txt
www/wordpress/readme.html
www/wordpress/index.php
www/wordpress/xmlrpc.php
test/node_modules
test/package-lock.json
emps/local/temp_c
